[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
natasha = "*"
sqlalchemy = "*"
matplotlib = "*"
psycopg2 = "*"
torch = "*"
jupyter = "*"

[requires]
python_version = "3.8"
